@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Reset all margins and paddings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* shared style */



.section-title{
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    margin-bottom: 24px;
}

.section-description{
    font-family: Azeret Mono;
    font-weight: 400;
    line-height: 26px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
}

.section-header{
    max-width: 852px;
    max-height: 115px;
    /* border: 1px solid red; */
    text-align: center;
    margin: 0 auto;
    margin-bottom: 48px;
}

.learn-more{
    display: flex;
    justify-content: space-between;
    padding: 48px;
    /* border: 1px solid red; */
}

.mid-last{
    margin-top: 32px;
}

.text-container{
    max-width: 477px;}

.text-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.text-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-top: 16px;
    margin-bottom: 32px;
}

.btn-learn-more{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 12px 20px 12px 20px;
}

.learn-more-pic{
    max-width: 259.56px;
    max-height: 217.01px;
    left: 0.36%;
    right: -0.36%;
    top: 1.74%;
    bottom: -1.74%;
}

/* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px dashed lightgray;
    padding-bottom: 35px;
    padding-top: 35px;
    max-width: 1440px;
    max-height: 100px;
    margin: 0 auto;
}

.nav-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
}

nav ul li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    font-family: Azeret Mono;
}

.btn-resume{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 17px 24px 17px 24px;
    cursor: pointer;
}

/* banner styles */

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    max-height: 652px;
    margin: 0 auto;
}

.banner-content{
    text-align: center;
}

.banner-title{
    color: rgb(13, 19, 33);
    font: Azeret Mono;
    font-weight: 800;
    font-size: 48px;
}

.banner-description{
    font-family: Azeret Mono;
    font-weight: 400;
    line-height: 26px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-top: 24px;
    margin-bottom: 32px;
}

.btn-contact{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 44px;
    border: none;
    cursor: pointer;
}

.banner-pic{
    width: 240.28px;
    height: 240px;
    margin-top: 26px;
    margin-bottom: 32px;
}

/* web development styles */

.web-development{
    max-width: 1140px;
    max-height: 1395px;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 74px;
    margin-bottom: 88px;
}

/* inspiration styles */

.inspiration{
    max-width: 1140px;
    max-height: 775px;
    margin: 0 auto;
    /* border: 2px solid red; */
    margin-bottom: 151px;
}

.youtube-embd{
    max-width: 1140px;
    max-height: 614px;
    /* max-width: 1076px;
    max-height: 550px; */
    /* margin: 10px 0px; */
    padding: 25px 25px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

/* current target styles */

.current-target{
    /* border: 2px solid red; */
    max-width: 1140px;
    max-height: 460px;
    margin: 0 auto;
    margin-bottom: 49px;
}

.card-container{
    display: flex;
    justify-content: space-between;
}

.card{
    /* border: 2px solid red; */
    max-width: 364px;
    max-height: 295px;
    padding: 35px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}

.ht{
    background: rgba(255, 76, 30, 0.05);
}

.cs{
    background: rgba(0, 76, 232, 0.05);
}

.js{
    background: rgba(255, 223, 0, 0.05);
}

.img-box{
    max-width: 56px;
    max-height: 56px;
}

.img-box img{
    width: 100%;
    height: 100%;
}

.card h5{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}

.card p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.link a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* support styles */

.support{
    max-width: 1140px;
    max-height: 313px;
    margin: 0 auto;
    padding: 64px 48px 64px 48px;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: overlay;
    background-image: url("../assets/handshake.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* border: 2px solid red; */
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.support-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    margin-bottom: 14px;
}

.support-title{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
}

.support-description{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.form{
    margin: 0 auto;
    margin-top: 30px;
}

.fieldset{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* justify-content: space-between; */
    align-items: center;
    width: 850px;
    border: none;
}

.input-text{
    width: 700px;
    height: 57px;
    padding: 19px 20px 19px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgba(13, 19, 33, 0.4);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
}

.btn-submit{
    min-width: 140px;
    height: 57px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

/* footer styles */

.footer{
    max-width: 1440px;
    max-height: 100px;
    margin: 0 auto;
    padding: 32px 150px 32px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-text{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
}

.social-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

#ft{
    /* connect with footer and "contact with me" button */
}